---

const splashlist = ['arch btw','splash text goes here', 'catppuccin my beloved', 'omarchy sucks and is bloat, realistically.', 'neovim <333', "ide's are bloat, embrace nvim", 'why have a gui when you can have a tui', 'debian <3', 'also check out my demonlist.', 'fun fact: this splash changes every time you reload', 'there is a secret page on this site, can you find it?'];
const splash = splashlist[Math.floor(Math.random() * splashlist.length)];

const OWNER = "srsxnsh";
const REPO = "site-v2";
const BRANCH = "main";

const res = await fetch(
  `https://api.github.com/repos/${OWNER}/${REPO}/commits/${BRANCH}`,
  {
    headers: {
      "Accept": "application/vnd.github+json",
    },
  }
);

const data = await res.json();

const commitURL = data.html_url;
const sha = data.sha.substring(0, 7);


---


<footer> 
  <p style='color:LightGrey;'> {splash}</p>
 <p>Latest Commit: <a href={commitURL} target='_blank'>#{sha}</a>
</footer>
